/*******************************************
3ColorResume
Author: office@kamsolutions.pl
*******************************************/
/*******************************************
FONTS
*******************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/*******************************************
SETTINGS
*******************************************/
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #fff;
}
/*******************************************
CONTAINER
*******************************************/
.container{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
  background: #fff;
  margin-left: 20px;
}
/*******************************************
PHOTO (AVATAR)
*******************************************/
#resume-link {
  text-align: center;
  font-size: 1.3em;
  margin-top: -20px;
  margin-bottom: 15px;
}

a.resume-link {
  font-size: 1.05em;
  color: #428bca;
  text-decoration: none;
}

#text-header h1{
  color: #428bca;
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: -2px;
  font-weight: 800;
  line-height: 1.5em;
}

#text-header h1 sup{
  opacity: 0.5;
}
#text-header:after{
  width: 100%;
  height: 3px;
  margin-top: 10px;
  content: '';
  display: block;
}
/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  color: #428bca;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}
.box h2:before{
  content: '//';
  margin-right: 5px;
}
.box h3 {
  font-size: 1.4em;
  font-weight: 700;
  padding-left: 10px;
}

.box p{
  font-size: 1.35em;
  line-height: 1.5em;
}
/*******************************************
ABOUT
*******************************************/
#about p{
  font-size: 1.5em;
}
/*******************************************
PROJECTS
*******************************************/

.project-title {
  margin-top: 8px;
  font-size: 1.8em;
  font-weight: bold;
}

.project-description {
  font-size: 1.5em;
}
.project-nolink {
  font-size: 1.2em;
}
.project-link {
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  font-size: 1.5em;
  font-style: itali428bcac;
}

.project-link-color {
  color: #428bca;
}
.project-link-color:hover {
  color: #428bca;
  background-color: #c6dcef;
}

a.project-box-link {
  text-decoration: none;
  color: #000000 ;
}

a.project-box-link:hover {
  color: #000000 ;
}
.project {
  margin-bottom: 20px;
}

.github-link p {
  margin-bottom: 0px;
}


/*******************************************
EDUCATION
*******************************************/
#education{
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
#education:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  background: #428bca;;
  background: -moz-linear-gradient(top,  #ffffff 0%, #428bca, 7%, #428bca, 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,#ec7263), color-stop(89%,#ec7263), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#428bca, 7%,#428bca, 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#428bca, 7%, #428bca, 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#428bca, 7%,#ec7263 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#428bca, 7%,#428bca, 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
#education li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
#education .year{
  width: 10%;
  background: #fff;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
}
#education .description{
  width: 70%;
  display: inline-block;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
}
#education .description:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #eee;
  border-width: 8px;
  pointer-events: none;
}
#education .description h3{
  font-size: 1.6em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
#education .description p{
  font-size: 1.4em;
  margin-top: 5px;
  padding: 0;
}
/*******************************************
EXPERIENCES
*******************************************/
.job{
  margin-bottom: 15px;
}
.job .where{
  font-size: 1.4em;
  font-weight: bold;
}
.job .where p{
  font-size: .9em;
  font-weight: normal;
  margin: 0px;
  
}
.job .year{
  font-size: 1.3em;
  opacity: 0.7;
  padding-right: 14px;
}
.job .profession{
  font-size: 1.6em;
  font-weight: bold;
}
.job .description{
  font-size: 1.4em;
  line-height: 1.5em;
}
/*******************************************
CONTACT
*******************************************/
.contact-item{
  width: 100%;
  float: left;
}
.contact-item .icon{
  padding: 10px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.7;
}
.contact-item:last-child .icon{
  border-bottom: none;
}
.contact-item .fa{
  font-size: 2em;
}
.contact-item .title{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}
.contact-item .title.only{
  margin-top: 10px;
}
.contact-item .description{
  width: 80%;
  width: calc(100% - 55px);
  font-size: 1.2em;
  opacity: 0.7;
}
/*******************************************
SKILLS
*******************************************/
.skills{
  width: 85%;
}
.item-skills{
  height: 30px;
  background: #428bca;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  font-weight: 600;
}
.skills-legend{
  margin-top: 20px;
  opacity: 0.8;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  width: 25%;
  display: inline-block;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left;
}
.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}
/*******************************************
OTHER SKILLS
*******************************************/
.otherskills h3 {
  line-height: 140%;
  margin-top: 12px;
}
/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  #education .description{
    width: 75%;
  }
}
@media (min-width: 768px) {
  #education .description{
    width: 75%;
  }
}
@media (min-width: 992px) {
  #education .description{
    width: 77%;
  }
}
@media (min-width: 1200px) {
  #education .description{
    width: 80%;
  }
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  #text-header:after {
    margin: 0px;
  }
  .box h2{
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .container{
    margin: 0px;
  }

.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 58.333333333333336%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }
}